<%# <h1>Ask me</h1> %>
<p>Ask your coach anithing</p>
<div class="row col-8">
  <form class="form input-group " action="/answer" data-turbo="false">
    <input class="form-control " type="text" name="question">
    <input class="btn btn-primary " type="submit" value="Ask!">
  </form>
</div>
