/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h1{
  color:rgb(0, 0, 0);
  margin-left:40px;
 }

 body{
  margin-left: 40px;
 }
 .answer{
  margin-left: 40px; ;
 }
 .form{
  margin-left: 40px;
  margin-block-end: 40px;
  /* margin-right: 500px; */
  width:20%;
 }

 input[type=text] {
  /* width: 30%; */
  border-radius: 4px 0px 0px 4px;
  /* margin-right: 0; */
 }
input[type=submit]{
  /* margin-left: 0; */
  border-radius: 0px 4px 4px 0px;
  /* background-color:rgb(15, 83, 209); */
  /* color:white; */
}
